<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDulcff5ibEn1y2ukhwHr4OxiMfXH52hKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611797771068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iliuta.ftms</string>
	<key>PROJECT_ID</key>
	<string>powertrain-app</string>
	<key>STORAGE_BUCKET</key>
	<string>powertrain-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611797771068:ios:71d58bc0eb31626b623439</string>
</dict>
</plist>